/*1025px  640px*/
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    display: flex;
}
html{
    height:100%;
}
#nav{
    width: 30%;
    flex-direction: row;
    /*height: 100%;*/
}
header .logo img{
    width: 36px;
    height: 36px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
header .primary{
    display: flex;
}
header .primary ul{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
header ul a{
    padding: 5px 10px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
.body span{
    font-size: 26px;
    font-weight: 700;
}
.body .display_2 a{
    color: #00A862;
}
.body .display_2 span{
    font-size: 16px;
    font-weight: 400;
}
.body{
    display: flex;
    flex-direction: column;
    margin-left: 76px;
    justify-content: center;
    height: 40%;
}
.display_2 .sign-in{
    margin-right: 24px;
}
.display_2 .button-small{
    border: 1px solid #00A862;
    border-radius: 48px;
    font-weight: 500;
    padding:2px 12px;
}
.display_2{
    padding-top: 25px;
    display: flex;
    align-items: center;
}
.sign-in{
    display: flex;
    align-items: center;
}
.sign-in span{
    margin-left: 5px;
}
#img-box{
    width: 70%;
    background: #f7f7f7;
    flex-direction: row;
    overflow: scroll;
}
#img-box::-webkit-scrollbar{
    display: none;
}
#img-box img{
    width: 100%;
}
#img-box .promotion{
    display: flex;
    justify-content: space-between;
}
#img-box .promotion > img{
    width: 30%;
    height: 30%;
    padding: 20px;
}
.program{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.program .wrapper1{
    padding-top: 36px;
    padding-bottom: 36px;
    width: 32%;
}
.program .wrapper2{
    width: 32%;
}
.program h2{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 18px;
}
.program .right-wrapper-mobile{
    margin-bottom: 24px;
}
.program .wrapper2{
    display: flex;
    align-items: center;
}
.program .right-wrapper-mobile a{
    color: #C2A661;
}
.program .flex-wrap a{
    border: 1px solid #00A862;
    border-radius: 48px;
    box-sizing: border-box;
    color: #00A862;
    font-weight: 500;
    padding: 6px 18px;
}




.tmall-center{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-top:36px;
    padding-bottom:36px;
    background: #f7f7f7;
}
.tmall-center .wrapper-mobile{
    margin-bottom:18px;
}
.tmall-center .wrapper1 h2{
    font-size: 22px;
    font-weight:400;
}
.tmall-center .wrapper1 p{
    font-size: 16px;
    font-weight: 400;
    color: #6c6c6c;
}
.tmall-center .light{
    margin-bottom:24px;
}
.tmall-center .wrapper1{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.tmall-center .wrapper2 .grid-column{
    display: flex;
    justify-content: space-between;
}



.coffeehouse{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfdfd;
}
.coffeehouse h2{
    margin-top:30px;
    margin-bottom:18px;
    font-weight: 400;
    font-size: 22px;
}
.coffeehouse .wrapper3 p{
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
}
.coffeehouse .scroll-wrapper3{
    display: flex;
    justify-content: flex-end;
}
.coffeehouse .scroll-wrapper3 a{
    width: 28%;
    padding:18px;
}
.coffeehouse .scroll-wrapper3 .origin,.coffeehouse .scroll-wrapper3 .mentals,.coffeehouse .scroll-wrapper3 .roast{
    position: relative;
}
.coffeehouse .scroll-wrapper3 .tag1,.coffeehouse .scroll-wrapper3 .tag2,.coffeehouse .scroll-wrapper3 .tag3{
    font-size: 15px;
    background: #C2A661;
    color: #FFF;
    position: absolute;
    padding: 4px 12px;
    left: 18px;
    top: 25px;
}
.coffeehouse .scroll-wrapper3 img{
    height: 198px;
}

